accelerate
codetiming
datasets
dill
einops
flash-attn
hydra-core
nest_asyncio
networkx
numpy
openai
pandas
pybind11
pydantic
python_igraph
ray
scipy
tenacity
tensordict<0.6
tiktoken
torch
tqdm
transformers<4.48
vllm==0.6.3
wandb
IPython
matplotlib